.TitreCaroucel{
  color: aliceblue;
  font-weight: bold;


}


.caroucel {
    display: flex;
    padding: 0 55px; 
    background-image: linear-gradient(to right,#000,transparent);
    position:fixed;
  bottom:0;
  
    
  }
  
  .item {
    display: inline-block;
     /* background: green;   */
    flex: 0 0 19.7%;
    color: aliceblue;
    text-align: center;
    margin: 0 2px;
    transition: transform 300ms ease 100ms;
  }

  .caroucel:hover .item {
    transform: translateX(-25%);
 }
 .item:hover ~ .item {
    transform: translateX(25%);
 }

 .item:hover {
    transform: scale(1.5) !important;
  }

  img{

    width: 50%;
  }

  .left {
    background: black;
    color:aliceblue;
    right: 60px;
    position: relative;
    font-size: xx-large;

    
    
  }

  /*.left:before {
    content: '';
    position: absolute;
    background-image: linear-gradient(to right,#000,transparent);
    top: 0;
    bottom: 0;
    left: 100%;
    width: 275px;
  }*/
  
  .right {
    background:transparent;
    color:aliceblue;
    font-size: xx-large;
    border: none; 

  }