.TitreCaroucel{
  color: aliceblue;
  font-weight: bold;


}


.caroucel {
    display: flex;
    padding: 0 100px; 
    background-image: linear-gradient(to right,#000,transparent);
    position:fixed;
    bottom:0;
    max-height: 180px;

  
    
  }
  
  .item {
    height: auto;
    width: 100%;
    display: inline-block;
     /* background: green;   */
    flex: 0 0 19.7%;
    color: aliceblue;
    
    
      
    text-align: center;
    margin: 0 2px;
    transition: transform 300ms ease 100ms;
    z-index: 4;
    
    
  }

  .caroucel:hover .item {
    transform: translateX(-25%);
 }
 .item:hover ~ .item {
    transform: translateX(25%);
 }

 .item:hover {
    transform: scale(1.5) !important;
  }

  img {
    max-height: max-content;
    height: 100%;
    width: 100%;
    max-width : 50%;
    }

  .left {
    background: black;
    color:aliceblue;
    right: 60px;
    position: relative;
    font-size: 400%;
    /*transform: scale(2, 0.5)*/
    z-index: 4;

    
    
  }

  /*.left:before {
    content: '';
    position: absolute;
    background-image: linear-gradient(to right,#000,transparent);
    top: 0;
    bottom: 0;
    left: 100%;
    width: 275px;
  }*/
  
  .right {
    background:transparent;
    color:aliceblue;
    font-size: 400%;
    border: none;
   /* transform: scale(2, 0.5) deforme le bloc bouton*/
   z-index: 5;

  }

  body{
    background-image: url(../imageIndex/BackgroundFluxi.png);
    background-size:cover;
      

  }
  /*body:has(div):has(div):has(.caroucel):has(.item:hover){

   
    background-image: url(./imageCaroucel/1917.jpg);
    background-size:cover;
   

  }*/

  
  /*.item:hover body{
    background-image: url(./imageCaroucel/1917.jpg);
    background-size:cover;
  }*/

  /*body >.item:hover{

    background-image: url(./imageCaroucel/1917.jpg);
    background-size:cover;

  }*/