.App {
  
}

.ButtonFaQ{

    background: linear-gradient(#0A2A8F, #0F39BD);
    border-radius: 3px;
    color: #fff;

}

.inputFaq{


    
    text-align: center;
    vertical-align: middle;
    
   
  }









