video{


width: 120%;


}

div.nav{

  background-color: black;  
  
  
}


section{
    
    color: aliceblue;
    width: 100px;
    display: inline-block;
    text-align: center;
    
    vertical-align:middle
    
}

.bouton{
  
    /*color: aliceblue;
    position: relative;
    left: 62%;
    background: linear-gradient(#0A2A8F, #0F39BD);
    border-radius: 15%;
    text-transform: uppercase;
    padding: 7px 17px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    line-height: normal;*/

    
    margin-top: 0;
    white-space: nowrap;

    background: linear-gradient(#0A2A8F, #0F39BD);
    float: right;
    margin: 6px;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    padding: 7px 17px;

    border-radius: 3px;
    color: #fff;

    text-decoration: none;

    letter-spacing: 0!important;

    cursor: pointer;

    -webkit-font-smoothing: antialiased;

    -webkit-text-size-adjust: 100%;
}




button:hover{
  
    color: aliceblue;
    background: linear-gradient(#1266c7, #5e7feb);
    padding: 10px;

}